* {
   cursor: none;
   scroll-behavior: smooth;
}

*:focus {
   outline: none;
}

@media (max-width:600px)  { 
  * {
    cursor: auto;
 }

 .cursor {
  display: none;
 }
} 

/* html.touch .cursor {
  display: none;
} */

.box {
    margin: 50px;
    border: 2px solid #ffde59;
    border-radius: 10px;
 }
 .box > h3 {
    position: absolute;
    background: white;
    height: 20px;
    margin-top: -20px;
    margin-left: 10px;
    padding: 0 10px;
 }

 .strokeme {
   -webkit-text-fill-color: #ffde59;
   -webkit-text-stroke: 1px;
 }

/* Text scroll */
.text-scroll {
  color: rgba(var(--clr-primary), 1);
  display: flex;
  overflow: hidden;
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(30px, 5vw, 4vw);
  font-weight: 300;
  text-transform: uppercase;
}
.text-scroll p {
  margin: 0;
  padding: 0 20px 0 0;
  white-space: nowrap;
}
.text-scroll.text-scroll-ltr {
  transform: translateY(-50px);
}
.text-scroll.text-scroll-ltr p {
  animation: scroll-ltr 40s infinite linear;
  color: rgba(var(--clr-primary), 0.25);
}
.text-scroll.text-scroll-rtl p {
  animation: scroll-rtl 40s infinite linear;
}

/* Animation */
@keyframes scroll-ltr {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes scroll-rtl {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}


@keyframes hover {
  0% {
    opacity: 0.1;
    margin: 3px;
  }
  50% {
    opacity: 1;
    margin: 5px;
  }
  100% {
    opacity: 0.1;
    margin: 3px;
  }
}